body{
	min-width: 1200px;
}

input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  

.nav{
    width:100%;
	height: 70px;
	border-top:1px solid #01b1fc;
    border-bottom:1px solid #e3e3e3;
    position:fixed;
    top:0;
    left:0;
    background:white;
    z-index:1;
}
.nav-in{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.nav-left{
	float: left;
}
.nav-middle { 
    float:left;
    height:70px;
}
.nav-right{
	float:right;
	margin:0px;
	padding:0;
	overflow: hidden;
}
.nav-right > li{
	float:left;
	list-style:none;
	line-height: 70px;
	padding:0 25px;
	cursor:pointer;
	color: #515151;

    height:66px;
    border-left:1px solid white;
	border-right:1px solid white;
	border-bottom:4px solid white;
}

.nav-right li:hover { 
    height: 66px;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-bottom:4px solid #005bac;
}

.active{
	height: 66px;
	border-left:1px solid #e3e3e3 !important;
	border-right:1px solid #e3e3e3 !important;
	border-bottom:4px solid #005bac !important;
}

.companyIntroduce { 
    width:115px;
    margin-left:-25px;
    background:#639BCC;
    position:absolute;
    line-height:12px;
    display:none;
}
.companyIntroduce > p { 
    color:white;
    text-align:center;
}

.company:hover .companyIntroduce{
    display:block;
}

/**************************杩欐槸content閮ㄥ垎***************************/
.show { 
    margin-top:70px;
}
.content-img { 
    overflow:hidden;
    width:100%;
    height:480px;
    position:relative;
}
.lunbo  img { 
    float:left;
    height:480px;
}
.number { 
    position:absolute;
    bottom:10px;
    left:45%;
}
.number li { 
    list-style:none;
    float:left;
    width:10px;
    height:10px;
    border-radius:10px;
    background:#c8c8c8;
    margin:0 10px;
    cursor:pointer;
}
.on { 
    background:white !important;
}

.product-in{
	width: 1200px;
	height: 100%;
	margin:0 auto;
}
.product-in > div{
	float: left;
}
.product1{
	height: 463px;
	background: url("../Images/index/product1.png");
	background-size: 100% 100%;
}
.product2{
	height: 351px;
	background: url("../Images/index/product2.png");
	background-size: 100% 100%;
    margin-top:-80px;
}
.title{
	overflow: hidden;
}
.title p{
	font-size:24px;
	text-align: center;	
	margin:0;
	color:#515151;
}
.title p:nth-child(1){
	margin-top:30px;
}
.title p:nth-child(2){
	font-size:20px;
}
.productLogo{
    margin:80px 0 0 200px;
}
.product-right{
    width:450px;
    margin: 50px 250px 0 0;
    float:right; 
    font-size:12px;
    float:right !important;
}
.product-right p:nth-child(1){
	font-size: 24px;
    color:#4a87b6;
}
.product-right p:nth-child(2){
	line-height: 25px;
	color:#515151;
}
.detailDown{
	width: 101px;
	height: 28px;
	background: url("../Images/index/detailDown.png");
}
.detailUp{
	width: 94px;
	height: 22px;
	margin:0 0 0 2px;
	color:white;
	background: url("../Images/index/detailUp.png");
	position:relative;
	cursor:pointer;
}
.detailUp div{
	position:absolute;
	right:10px;
	top:2px;
}
.about{
	width:100%;
	background: #f2f2f2;
    overflow:hidden;
}
.about-in{
	width: 1200px;
	margin:20px auto 0; 
	overflow: hidden;
    position:relative;
}
.about-left{
	float: left;
	width: 520px;
    margin-left:50px;
}

.companyTab { 
    text-align:center;
    font-size:20px;
    color:#333333 !important;
    margin-top:10px;
}
.newsTab { 
    overflow:hidden;
}
.companyNews { 
    margin-left:20px;
	width: 75px;
	height: 24px;
	
    background: #B3B3B3;
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	transform: skew(-30deg);
    float:left;
    cursor:pointer;
}

.companyNewsText { 
    font-size:12px;
    line-height:24px;
    color:white;
    text-align:center;
    -webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: skew(30deg);
}
.lineNews { 
	width: 75px;
	height: 24px;
	background: #B3B3B3;
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	transform: skew(-30deg);
    float:left;
    cursor:pointer;
}
.newsTabActive { 
    background: #035AAE;
}
.lineNewsText { 
    font-size:12px;
    line-height:24px;
    color:white;
    text-align:center;
    -webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: skew(30deg);
}


.news{
	margin:20px 20px 0 0;
	overflow: hidden;
    padding:10px;
}
.news:hover { 
    background:#E7E7E7;
}
.news div{
	float: left;
}
.newsText{
	width: 360px;
	margin:0 0 0 20px;
}
.newsText p{
	margin:0;
	padding:0;
}
.newsText p:nth-child(1) { 
    color:#4a87b6;
}
.newsText p:nth-child(2){
	font-size: 12px;
    color:#8b8b8b;
}
.newsText p:nth-child(3){
	font-size: 12px;
	line-height: 20px;
    color:#8b8b8b;
}
.newsIcons{
	float:right;
	margin:20px 40px 0 0;
}
.newsMsg { 
    overflow:hidden;
    padding:0px 40px 0 10px;
}
.newsMsg1 { 
    overflow:hidden;
    margin:5px 0;
}
.newsMsg1 div:hover { 
    cursor:pointer;
    color:#4a87b6;
}
.newsMsgTitle { 
    float:left;
    font-size:12px;
}
.newsMsgTime { 
    float:right;
    font-size:12px;
}


.about-middle { 
    height:320px;
    width:1px;
    border-right:1px solid #d1d1d1;
    position:absolute;
    left:50%;
}


.about-right{
	float: right;
}
.about-right h3{
	text-align: center;
    color:#4a87b6;
}
.about-right p{
    color:#8b8b8b;
}

.aboutImg{
	clear:both;
	text-align: center;
	margin:50px 0;
}
.aboutImg img { 
    box-shadow:5px 0px 5px #dedede,0px 5px 5px #dedede,-5px 0px 5px #dedede;
}

.link{
	height: 240px;
	background: url("../Images/index/link.png");
	background-size: 100% 100%;
	overflow: hidden;
}
.link-in{
	width:1200px;
	margin:100px auto 0;
	position: relative;
}
.link-left{
	position:absolute;
	left:0;
	top:15px;
    cursor:pointer;
}
.link-show { 
    width:960px;
    height:80px;
    overflow:hidden;
    margin:0 auto;
}
.link-middle{
    height:81px;
	margin:0 auto;
	padding:0;
}
.link-middle li{
	float: left;
	margin:0 10px 0 25px;
	list-style:none;
}
.link-middle li a img { 
    box-shadow:2px 0 5px #dedede,0px 8px 10px #dedede,-2px 0 5px #dedede;
    border-radius:8px;
}
.link-right{
	position:absolute;
	right:0;
	top:15px;
    cursor:pointer;
}

.homeDetail-DJ{ 
    display:none;
}
.homeDetail-GD{ 
    display:none;
}

footer{
	height: 220px;
	background:#676767;
}
.footer-in{
	width:720px;
	margin:0 auto;
	padding:0;
	color:white;
	overflow: hidden;
}
.footer-in-title { 
    font-size:16px;
}
.footer-in > li{
	float: left;
	list-style: none;
	padding:0 20px;
    margin-top:10px;
}
.footer-left { 
    margin:0;
	padding:0;
}
.footer-left li { 
    font-size:12px;
    color:white;
    list-style:none;
    padding:5px 0;
}
.footer-middle{
	margin:0;
	padding:0;
}
.footer-middle li{
	list-style: none;
	font-size:12px;
	padding:5px 0;
    cursor:pointer;
}

.footer-weixin{
	width:125px;
	height:44px;
	border-radius:6px;
	background:#8c8c8c;
	margin-top:10px;
}
.footer-weixin p{
	line-height: 22px;
	text-align: center;
	font-size:12px; 
	margin:0;
	padding:0;
}
.footer-foot{
	text-align: center;
	color:white;
	font-size:12px;
    margin-top:10px;
}

.link-detail { 
    width:200px;
    margin:0;
    padding:0;
}
.link-detail li { 
    list-style:none;
    font-size:12px;
    margin:10px 0;
}
.link-detail li a { 
    color:white;
}