html,body{margin:0;padding:0;}

.container{max-width: 1200px;margin:0 auto;}
.logo{
    width:40px;
    height:25px;
}
.content{
    overflow:hidden;
    margin-top:50px;
}
.footer{
    background:#454545;
    color:#ffffff;
    font-size:12px;
    padding: 10px 0;
}
.ul{
    margin:0;
    padding:0;
    overflow: hidden;
    text-align:center;
    font-size:14px;
}
.ul li{
    float:left;
    list-style: none;
    padding:0 20px 0 0;
    cursor:pointer;
}
.footerIn{
    padding:10px 0;
}
.footerTitle{
    font-weight:700;
    margin:4px 0;
}
.code{
    width:80px;
    height:80px;
}
.online-service{
    position:fixed;
    right:0;
    top:50px;
}

/* 小于等于 768px */
@media screen and (max-width: 768px) {
    
}

/* 大于768时 */
@media screen and (min-width: 768px) {
    .container{
        width:600px;
        margin:0 auto;
    }
}